@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

html,
body,
#root {
    height: 100%;
}

body {
    background-color: rgba(203, 205, 205, 0.1);
    font-family: 'Montserrat', sans-serif;
}

.app {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    height: 600px;
    width: 350px;
    overflow: hidden;
    &--shadow {
        -webkit-box-shadow: 0px 1px 12px 0px rgba(140, 140, 140, 0.5);
        -moz-box-shadow: 0px 1px 12px 0px rgba(140, 140, 140, 0.5);
        box-shadow: 0px 1px 12px 0px rgba(140, 140, 140, 0.5);
    }
    &-info {
        font-weight: bolder;
        padding: 25px;

        &__error {
            background-color: red;
        }
    }
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    &-item {
        &--top {
            align-self: flex-start;
        }
        &--bottom {
            align-self: flex-end;
        }
    }
}

.fluid-height {
    height: 100%;
}

.button {
    background-color: transparent;
    border-style: none;
    border-width: 0;
    cursor: pointer;
}

.rotate {
    animation: spin 2s infinite linear;
}

.header {
    padding: 25px;
    position: fixed;
    width: 350px;

    &-search {

        &__input {
            .input {
                width: 100%;
                
                input {
                    border-width: 0; 
                    border-radius: .28571429rem !important; 
                }
            }

            .results {
                width: 100% !important;

                .message {
                    &.empty {
                        height: 50px;

                        .header {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    &-button {
        background-color: transparent !important;
        
        &:hover {
            transform: scale(1.2);
        }

        &__icon {
            color: rgba(255, 255, 255, 1);
        }
    }
}